* {
    font-family: "Garamond", serif;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #414A30;
    font-family: "Garamond", serif;
    text-align: center;
    margin-bottom: 50px;
    font-style: italic;
}

.button a {
    display: block;
    box-sizing: border-box;
    background-color: #ECEFE6;
    border: 2px solid white;
    text-decoration: none;
    color: #414A30;
    padding: 1em 1.5em;
    width: 148.41px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic
}

.img img {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid white;
    width: 400px
}

.img-subtitle {
    font-size: 15px;
    margin-left: 100px;
    margin-top: -15px;
    margin-bottom: 30px;
}

body {
    color: #414A30;
    background-color: #F6F7F3;
    margin-top: 50px;
    margin-bottom: 100px;
}